body{
background-color:lawngreen;
}
.heading{
     box-shadow:5px 5px 5px red;
     margin:0px;
     width:100%;
     font-size:20px;
}
.note{
     font-size:20px;
     color:mediumturquoise;
     white-space:normal;
}
.footer{
     position:fixed;
     bottom:0px;
     width:100%;
     text-align:center;
     background-color:palevioletred;
     color:powderblue;
     font-size:20px;
     line-height:3;
}